
<h1>List of Products</h1>
<body>
<ul id="updated-products">
{{# each products}}
<li>

<b>Product with id: {{id}}</b> <br/>
Name: {{title}} <br />
Price: {{price}} <br />
Description: {{description}} <br />
Stock: {{stock}} <br />
</li>
{{/each}}
</ul>


<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>
</body>
</html>

